<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Hello Node</title>
</head>
<body>
<ul>
    <li><a href="/?page=0&category=study">Javascript</a></li>
    <li><a href="/?page=1&category=study">Node.js</a></li>
    <li><a href="/?page=2&category=study">React.js</a></li>
</ul>
<h1><%= title %></h1>
<h2><%= category %></h2>
</body>
</html>

